.pyro {
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
}

.pyro:before,
.pyro:after {
	content: '';
	position: fixed;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
	-moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
	-webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
	-o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
	animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro:after {
	-moz-animation-delay: 1.25s, 1.25s, 1.25s;
	-webkit-animation-delay: 1.25s, 1.25s, 1.25s;
	-o-animation-delay: 1.25s, 1.25s, 1.25s;
	animation-delay: 1.25s, 1.25s, 1.25s;
	-moz-animation-duration: 1.25s, 1.25s, 6.25s;
	-webkit-animation-duration: 1.25s, 1.25s, 6.25s;
	-o-animation-duration: 1.25s, 1.25s, 6.25s;
	animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
	to {
		box-shadow: 170px 2.3333333333px #ff0051, 168px -289.6666666667px #8f0, 263px 58.3333333333px #ff00a6, -156px -410.6666666667px #f0a, -18px -134.6666666667px #2a00ff, -240px -199.6666666667px #90f, 2px -397.6666666667px #ffa200, -264px 33.3333333333px #d5ff00, -193px 72.3333333333px #f20, -190px -208.6666666667px #3c00ff, 26px -86.6666666667px #5e00ff, -121px -76.6666666667px #ff0004, -131px -49.6666666667px #73ff00, -158px -251.6666666667px #f60, 155px -338.6666666667px #ff1500, -111px -211.6666666667px #48ff00, 256px -72.6666666667px #00ffae, 264px -200.6666666667px #50f, -233px -115.6666666667px #f03, -105px -118.6666666667px #00d5ff, 169px -268.6666666667px #95ff00, 4px -388.6666666667px #9dff00, -113px -274.6666666667px #fff200, -173px -320.6666666667px #00ff62, -272px -211.6666666667px #006aff, 130px 25.3333333333px #9dff00, 30px -184.6666666667px #9100ff, -67px -261.6666666667px #0f8, -12px -200.6666666667px #95ff00, 72px -29.6666666667px #3cff00, -156px -324.6666666667px #f02, -31px -139.6666666667px #80ff00, 75px -110.6666666667px #bfff00, 198px -253.6666666667px #ff0037, -247px -328.6666666667px #9d00ff, 89px -168.6666666667px #fff700, -12px -128.6666666667px #f06, 160px -77.6666666667px #00ff9d, 261px -327.6666666667px #ff0d00, -268px 18.3333333333px #26ff00, 60px -109.6666666667px #ff00e1, -196px -118.6666666667px #0015ff, -84px -202.6666666667px #ffbf00, 230px -314.6666666667px #e600ff, -216px 68.3333333333px #0019ff, 214px -122.6666666667px #6f00ff, 9px 51.3333333333px #00ff48, 250px 49.3333333333px #ff7b00, -174px -66.6666666667px #00ff8c, -166px -322.6666666667px #ff0400, 67px 7.3333333333px #006fff, -282px -42.6666666667px #fc0, -285px -183.6666666667px #1eff00, -208px -363.6666666667px #40f, 104px 44.3333333333px #ff005d, -158px -146.6666666667px #009dff, 155px -223.6666666667px #ea00ff, -294px -289.6666666667px #bfff00, 48px -82.6666666667px #00fff2, -30px -360.6666666667px #ff0015, 276px -400.6666666667px #01f, 30px -114.6666666667px #d0f, 277px -322.6666666667px #ffbf00, -172px 60.3333333333px #d500ff, -196px 22.3333333333px #007bff, -203px -25.6666666667px #d500ff, -155px -73.6666666667px #ff00d9, 21px -108.6666666667px #00ffc4, -182px -194.6666666667px #00d9ff, -30px 28.3333333333px #f02, -22px -248.6666666667px #fff700, 268px -210.6666666667px #90f, 112px 19.3333333333px #3cff00, -104px -273.6666666667px #0f0, -287px -22.6666666667px #ff007b, -176px -310.6666666667px #ff0026, 61px -179.6666666667px #00aeff, -152px -278.6666666667px #ff0015, -111px -229.6666666667px #f09, 87px -300.6666666667px #00ff6f, -104px 45.3333333333px #f2ff00;
	}
}

@-moz-keyframes bang {
	to {
		box-shadow: 170px 2.3333333333px #ff0051, 168px -289.6666666667px #8f0, 263px 58.3333333333px #ff00a6, -156px -410.6666666667px #f0a, -18px -134.6666666667px #2a00ff, -240px -199.6666666667px #90f, 2px -397.6666666667px #ffa200, -264px 33.3333333333px #d5ff00, -193px 72.3333333333px #f20, -190px -208.6666666667px #3c00ff, 26px -86.6666666667px #5e00ff, -121px -76.6666666667px #ff0004, -131px -49.6666666667px #73ff00, -158px -251.6666666667px #f60, 155px -338.6666666667px #ff1500, -111px -211.6666666667px #48ff00, 256px -72.6666666667px #00ffae, 264px -200.6666666667px #50f, -233px -115.6666666667px #f03, -105px -118.6666666667px #00d5ff, 169px -268.6666666667px #95ff00, 4px -388.6666666667px #9dff00, -113px -274.6666666667px #fff200, -173px -320.6666666667px #00ff62, -272px -211.6666666667px #006aff, 130px 25.3333333333px #9dff00, 30px -184.6666666667px #9100ff, -67px -261.6666666667px #0f8, -12px -200.6666666667px #95ff00, 72px -29.6666666667px #3cff00, -156px -324.6666666667px #f02, -31px -139.6666666667px #80ff00, 75px -110.6666666667px #bfff00, 198px -253.6666666667px #ff0037, -247px -328.6666666667px #9d00ff, 89px -168.6666666667px #fff700, -12px -128.6666666667px #f06, 160px -77.6666666667px #00ff9d, 261px -327.6666666667px #ff0d00, -268px 18.3333333333px #26ff00, 60px -109.6666666667px #ff00e1, -196px -118.6666666667px #0015ff, -84px -202.6666666667px #ffbf00, 230px -314.6666666667px #e600ff, -216px 68.3333333333px #0019ff, 214px -122.6666666667px #6f00ff, 9px 51.3333333333px #00ff48, 250px 49.3333333333px #ff7b00, -174px -66.6666666667px #00ff8c, -166px -322.6666666667px #ff0400, 67px 7.3333333333px #006fff, -282px -42.6666666667px #fc0, -285px -183.6666666667px #1eff00, -208px -363.6666666667px #40f, 104px 44.3333333333px #ff005d, -158px -146.6666666667px #009dff, 155px -223.6666666667px #ea00ff, -294px -289.6666666667px #bfff00, 48px -82.6666666667px #00fff2, -30px -360.6666666667px #ff0015, 276px -400.6666666667px #01f, 30px -114.6666666667px #d0f, 277px -322.6666666667px #ffbf00, -172px 60.3333333333px #d500ff, -196px 22.3333333333px #007bff, -203px -25.6666666667px #d500ff, -155px -73.6666666667px #ff00d9, 21px -108.6666666667px #00ffc4, -182px -194.6666666667px #00d9ff, -30px 28.3333333333px #f02, -22px -248.6666666667px #fff700, 268px -210.6666666667px #90f, 112px 19.3333333333px #3cff00, -104px -273.6666666667px #0f0, -287px -22.6666666667px #ff007b, -176px -310.6666666667px #ff0026, 61px -179.6666666667px #00aeff, -152px -278.6666666667px #ff0015, -111px -229.6666666667px #f09, 87px -300.6666666667px #00ff6f, -104px 45.3333333333px #f2ff00;
	}
}

@-o-keyframes bang {
	to {
		box-shadow: 170px 2.3333333333px #ff0051, 168px -289.6666666667px #8f0, 263px 58.3333333333px #ff00a6, -156px -410.6666666667px #f0a, -18px -134.6666666667px #2a00ff, -240px -199.6666666667px #90f, 2px -397.6666666667px #ffa200, -264px 33.3333333333px #d5ff00, -193px 72.3333333333px #f20, -190px -208.6666666667px #3c00ff, 26px -86.6666666667px #5e00ff, -121px -76.6666666667px #ff0004, -131px -49.6666666667px #73ff00, -158px -251.6666666667px #f60, 155px -338.6666666667px #ff1500, -111px -211.6666666667px #48ff00, 256px -72.6666666667px #00ffae, 264px -200.6666666667px #50f, -233px -115.6666666667px #f03, -105px -118.6666666667px #00d5ff, 169px -268.6666666667px #95ff00, 4px -388.6666666667px #9dff00, -113px -274.6666666667px #fff200, -173px -320.6666666667px #00ff62, -272px -211.6666666667px #006aff, 130px 25.3333333333px #9dff00, 30px -184.6666666667px #9100ff, -67px -261.6666666667px #0f8, -12px -200.6666666667px #95ff00, 72px -29.6666666667px #3cff00, -156px -324.6666666667px #f02, -31px -139.6666666667px #80ff00, 75px -110.6666666667px #bfff00, 198px -253.6666666667px #ff0037, -247px -328.6666666667px #9d00ff, 89px -168.6666666667px #fff700, -12px -128.6666666667px #f06, 160px -77.6666666667px #00ff9d, 261px -327.6666666667px #ff0d00, -268px 18.3333333333px #26ff00, 60px -109.6666666667px #ff00e1, -196px -118.6666666667px #0015ff, -84px -202.6666666667px #ffbf00, 230px -314.6666666667px #e600ff, -216px 68.3333333333px #0019ff, 214px -122.6666666667px #6f00ff, 9px 51.3333333333px #00ff48, 250px 49.3333333333px #ff7b00, -174px -66.6666666667px #00ff8c, -166px -322.6666666667px #ff0400, 67px 7.3333333333px #006fff, -282px -42.6666666667px #fc0, -285px -183.6666666667px #1eff00, -208px -363.6666666667px #40f, 104px 44.3333333333px #ff005d, -158px -146.6666666667px #009dff, 155px -223.6666666667px #ea00ff, -294px -289.6666666667px #bfff00, 48px -82.6666666667px #00fff2, -30px -360.6666666667px #ff0015, 276px -400.6666666667px #01f, 30px -114.6666666667px #d0f, 277px -322.6666666667px #ffbf00, -172px 60.3333333333px #d500ff, -196px 22.3333333333px #007bff, -203px -25.6666666667px #d500ff, -155px -73.6666666667px #ff00d9, 21px -108.6666666667px #00ffc4, -182px -194.6666666667px #00d9ff, -30px 28.3333333333px #f02, -22px -248.6666666667px #fff700, 268px -210.6666666667px #90f, 112px 19.3333333333px #3cff00, -104px -273.6666666667px #0f0, -287px -22.6666666667px #ff007b, -176px -310.6666666667px #ff0026, 61px -179.6666666667px #00aeff, -152px -278.6666666667px #ff0015, -111px -229.6666666667px #f09, 87px -300.6666666667px #00ff6f, -104px 45.3333333333px #f2ff00;
	}
}

@keyframes bang {
	to {
		box-shadow: 170px 2.3333333333px #ff0051, 168px -289.6666666667px #8f0, 263px 58.3333333333px #ff00a6, -156px -410.6666666667px #f0a, -18px -134.6666666667px #2a00ff, -240px -199.6666666667px #90f, 2px -397.6666666667px #ffa200, -264px 33.3333333333px #d5ff00, -193px 72.3333333333px #f20, -190px -208.6666666667px #3c00ff, 26px -86.6666666667px #5e00ff, -121px -76.6666666667px #ff0004, -131px -49.6666666667px #73ff00, -158px -251.6666666667px #f60, 155px -338.6666666667px #ff1500, -111px -211.6666666667px #48ff00, 256px -72.6666666667px #00ffae, 264px -200.6666666667px #50f, -233px -115.6666666667px #f03, -105px -118.6666666667px #00d5ff, 169px -268.6666666667px #95ff00, 4px -388.6666666667px #9dff00, -113px -274.6666666667px #fff200, -173px -320.6666666667px #00ff62, -272px -211.6666666667px #006aff, 130px 25.3333333333px #9dff00, 30px -184.6666666667px #9100ff, -67px -261.6666666667px #0f8, -12px -200.6666666667px #95ff00, 72px -29.6666666667px #3cff00, -156px -324.6666666667px #f02, -31px -139.6666666667px #80ff00, 75px -110.6666666667px #bfff00, 198px -253.6666666667px #ff0037, -247px -328.6666666667px #9d00ff, 89px -168.6666666667px #fff700, -12px -128.6666666667px #f06, 160px -77.6666666667px #00ff9d, 261px -327.6666666667px #ff0d00, -268px 18.3333333333px #26ff00, 60px -109.6666666667px #ff00e1, -196px -118.6666666667px #0015ff, -84px -202.6666666667px #ffbf00, 230px -314.6666666667px #e600ff, -216px 68.3333333333px #0019ff, 214px -122.6666666667px #6f00ff, 9px 51.3333333333px #00ff48, 250px 49.3333333333px #ff7b00, -174px -66.6666666667px #00ff8c, -166px -322.6666666667px #ff0400, 67px 7.3333333333px #006fff, -282px -42.6666666667px #fc0, -285px -183.6666666667px #1eff00, -208px -363.6666666667px #40f, 104px 44.3333333333px #ff005d, -158px -146.6666666667px #009dff, 155px -223.6666666667px #ea00ff, -294px -289.6666666667px #bfff00, 48px -82.6666666667px #00fff2, -30px -360.6666666667px #ff0015, 276px -400.6666666667px #01f, 30px -114.6666666667px #d0f, 277px -322.6666666667px #ffbf00, -172px 60.3333333333px #d500ff, -196px 22.3333333333px #007bff, -203px -25.6666666667px #d500ff, -155px -73.6666666667px #ff00d9, 21px -108.6666666667px #00ffc4, -182px -194.6666666667px #00d9ff, -30px 28.3333333333px #f02, -22px -248.6666666667px #fff700, 268px -210.6666666667px #90f, 112px 19.3333333333px #3cff00, -104px -273.6666666667px #0f0, -287px -22.6666666667px #ff007b, -176px -310.6666666667px #ff0026, 61px -179.6666666667px #00aeff, -152px -278.6666666667px #ff0015, -111px -229.6666666667px #f09, 87px -300.6666666667px #00ff6f, -104px 45.3333333333px #f2ff00;
	}
}

@-webkit-keyframes gravity {
	to {
		transform: translateY(200px);
		-moz-transform: translateY(200px);
		-webkit-transform: translateY(200px);
		-o-transform: translateY(200px);
		opacity: 0;
	}
}

@-moz-keyframes gravity {
	to {
		transform: translateY(200px);
		-moz-transform: translateY(200px);
		-webkit-transform: translateY(200px);
		-o-transform: translateY(200px);
		opacity: 0;
	}
}

@-o-keyframes gravity {
	to {
		transform: translateY(200px);
		-moz-transform: translateY(200px);
		-webkit-transform: translateY(200px);
		-o-transform: translateY(200px);
		opacity: 0;
	}
}

@keyframes gravity {
	to {
		transform: translateY(200px);
		-moz-transform: translateY(200px);
		-webkit-transform: translateY(200px);
		-o-transform: translateY(200px);
		opacity: 0;
	}
}

@-webkit-keyframes position {
	0%,
	19.9% {
		margin-top: 10%;
		margin-left: 40%;
	}
	20%,
	39.9% {
		margin-top: 40%;
		margin-left: 30%;
	}
	40%,
	59.9% {
		margin-top: 20%;
		margin-left: 70%;
	}
	60%,
	79.9% {
		margin-top: 30%;
		margin-left: 20%;
	}
	80%,
	99.9% {
		margin-top: 30%;
		margin-left: 80%;
	}
}

@-moz-keyframes position {
	0%,
	19.9% {
		margin-top: 10%;
		margin-left: 40%;
	}
	20%,
	39.9% {
		margin-top: 40%;
		margin-left: 30%;
	}
	40%,
	59.9% {
		margin-top: 20%;
		margin-left: 70%;
	}
	60%,
	79.9% {
		margin-top: 30%;
		margin-left: 20%;
	}
	80%,
	99.9% {
		margin-top: 30%;
		margin-left: 80%;
	}
}

@-o-keyframes position {
	0%,
	19.9% {
		margin-top: 10%;
		margin-left: 40%;
	}
	20%,
	39.9% {
		margin-top: 40%;
		margin-left: 30%;
	}
	40%,
	59.9% {
		margin-top: 20%;
		margin-left: 70%;
	}
	60%,
	79.9% {
		margin-top: 30%;
		margin-left: 20%;
	}
	80%,
	99.9% {
		margin-top: 30%;
		margin-left: 80%;
	}
}

@keyframes position {
	0%,
	19.9% {
		margin-top: 10%;
		margin-left: 40%;
	}
	20%,
	39.9% {
		margin-top: 40%;
		margin-left: 30%;
	}
	40%,
	59.9% {
		margin-top: 20%;
		margin-left: 70%;
	}
	60%,
	79.9% {
		margin-top: 30%;
		margin-left: 20%;
	}
	80%,
	99.9% {
		margin-top: 30%;
		margin-left: 80%;
	}
}